/* for everything */
* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

html {
    background-color: #2A3132;
    height: calc(100% - navbarpx);
}

.all {
    margin-left: 8%;
    margin-right: 8%;
    padding: 25px;
    background-color: #404b4c;
    box-shadow: 10px 10px 5px #353e3f;
    border-radius: 30px;
}

.all p {
    font-size: 18px;
}

/* navigation bar */
nav ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    margin: 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #E04220;
}

span {
    color: #E04220;
}

.pages {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../website-team-35/media/header.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0;
    height: 230px;
}

.logo {
    color: white;
    font-size: 25px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: #90AFC5;
}

.link {
    text-decoration: none;
}

a:hover {
    color: rgb(87, 147, 149);
}

body {
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* footer */
footer {
    background-color: #336B87;
    color: white;
    padding: 5px;
    margin: 0;
    width: 100%;
    height: 115px;
    margin-top: 30px;
}

.emails {
    font-size: 13px;
    text-align: center;
}

/* table */
table, th, td {
    border: 1px solid;
    padding: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

/* ada page */
.formlogo {
    text-align: center;
}

.formlogo label {
    font-size: 20px;
    margin-right: 30px;
}

.adaform {
    text-align: center;
    margin: 20px 0px;
}

.adaform label {
    margin-right: 30px;
}

.adainfo {
    font-size: 18px;
}

.faculty option {
    font-size: 15px;
}

.yesnoada {
    margin: 30px;
}

.worldclass {
    text-align: center;
}

/* little things */
.center {
    text-align: center;
}