html {
    background-color: #2A3132;
}

* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.button-group {
    display: inline-flex;
    border: 1px solid grey;
    border-radius: 4px;
    overflow: hidden;
}

body {
    color: white;
}

.button {
    padding: 10px 16px;
    border: none;
    outline: none;
    cursor: pointer;
    border-right: 1px solid grey;
}

.button:last-child {
    border-right: none;
}

.all {
    margin-left: 8%;
    margin-right: 8%;
    padding: 10px;
}

h1 {
    text-align: center;
}


footer {
    background-color: #90AFC5;
    color: white;
    padding: 2%;
    margin: 0;
    width: 100%;
}

.topnav a {
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 70px;
}

.pages {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6), url(/media/1429490.jpg));
}